<!DOCTYPE html>

<html>

<head>
    <title>Click Farmer</title>
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>

    <img src="static/images/clickfarmerLogo.PNG" alt="Clickfarmer logo">

    <h1>Click Farmer</h1>

    <h2>Current click counts Are<h2>
            <ul>
                {{ range $color := .Colors }}
                <li class="color-label" id="color-label-{{ $color }}">{{ $color }}: 0</li>
                {{ end }}
            </ul>

            <h2>Click on the below color boxes to farm more clicks </h2>
            <div class="displayBox">
                {{ range $color := .Colors }}

                <div id="color-button" class="color-button color-button-{{ $color }}"
                    onclick="colorClicked('{{ $color  }}')">{{ $color}}</div>
                {{ end }}
            </div>

            <script src="static/script.js"></script>

</body>

</html>